@import "tailwindcss";

/* Styles personnalisés si nécessaire */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles personnalisés avec Tailwind disponible via les classes */
